.nav-bar {
    background-color: black;
    font-size: 20pt;
    font-weight: 700;

}

.text-color-css {
    color: rgb(255, 43, 43) !important;
}

.background {
    background-color: black;
}

.nav-bar {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 5px 3px red;
}

.h1-color {
    color: red;
}

.h1-text {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-about {
    
}

.offcanvas-body {
background-color: black;
border: 3px solid red;
border-radius: 10px;
}


.nav-item {
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

.navbar {
    background-color: black;
    border: 4px solid red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.dropdown-menu {
    background-color: black;
}

.navbar-toggler {
    margin-left: 1600px;
}

.dropdown-menu {
    background-color: black !important;
    color: white !important;
    border: 1px solid red;

}

.dropdown-item {
    border: 1px solid red;
    color: white;
}

button:hover {
    background-color: rgb(97, 97, 97);
    box-shadow: 0 4px rgb(255, 0, 0);
    transform: translateY(-5px);
    /*als ik met mijn muis erover heen ga gaat het hoger*/
}

button:active {
    box-shadow: 0 0px white;
    transform: translateY(5px);
    /*als ik met mijn muis erop klik dan gaat het lager*/
}

.btn-about {
    background-color: black;
    width: 270px;
    height: 100px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px 15px rgb(110, 0, 0);
    border: 3px solid rgb(255, 0, 0);
    font-size: 25pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 70px;
}