.nav-bar {
    background-color: black;
    font-size: 20pt;
    font-weight: 700;

}

.text-color-css {
    color: rgb(255, 43, 43) !important;
}

.background {
    background-color: black;
}

.background-2 {
    background-color: rgb(29, 29, 29);
}

.nav-bar {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 5px 3px red;
}

.h1-color {
    color: red;
}

.h1-text {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    background-color: black;
}

.offcanvas-body {
    background-color: black;
    border: 3px solid red;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0px;
}

.img-escape {
    border: 1px;
}

.card-project {
    background-color: rgb(48, 62, 92);
    border: 4px solid rgb(0, 0, 0);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 19px 20px 10px 0px rgb(0, 0, 0);
    margin: auto;
    text-align: center;
}

.img-ilias {
    border: 5px solid #000000;
    box-shadow: 19px 20px 10px 0px #ff0d0d80;
}



.home-page {
    height: 100vh;
    padding: 200px;
}

.nav-item {
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

.text-about {
    border: 4px solid black;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    width: 840px;
    height: 350px;
    padding-top: 35px;
    padding-left: 30px;
    border-radius: 15px;
    margin: auto
}

.navbar {
    background-color: black;
    border: 4px solid red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.dropdown-menu {
    background-color: black;
}

.navbar-toggler {
    margin-left: 1600px;
}

.dropdown-menu {
    background-color: black !important;
    color: white !important;
    border: 1px solid red;

}

.dropdown-item {
    border: 1px solid red;
    color: white;
}

.card {
    width: 600px;
    border-radius: 20px !important;
    height: 200px;
}

.card-body {
    background-color: black;
    border: 2px solid orangered;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px orangered;
}

.row-1-css {
    margin-left: 170px !important;
}


.card-1 {
    background-color: black;
    border: 2px solid rgb(226, 194, 9);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgb(226, 194, 9);
}

.card-2 {
    background-color: black;
    border: 2px solid rgb(81, 159, 211);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgb(81, 159, 211);
}

.card-3 {
    background-color: black;
    border: 2px solid rgb(127, 0, 177);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgb(127, 0, 177);

}

.card-project:hover {
box-shadow: 0px 0px 40px 10px rgb(48, 62, 92);
}


.card-0:hover {
    box-shadow: 0px 0px 40px 10px orangered;
    transform: translateY(-5px);
}

.card-1:hover {
    box-shadow: 0px 0px 40px 10px rgb(226, 194, 9);
    transform: translateY(-5px);
}

.card-2:hover {
    box-shadow: 0px 0px 40px 10px rgb(81, 159, 211);
    transform: translateY(-5px);
}

.card-3:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 40px 10px rgb(127, 0, 177);
}

.contact-info {
    width: 1120px;
    height: 300px;
    margin: auto;
}


.btn-slideshow:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 10px rgb(255, 255, 255);
}

.btn-slideshow {
    background-color: black;
    width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

.btn-about:hover {
    background-color: rgb(97, 97, 97);
    box-shadow: 0 4px rgb(255, 0, 0);
    transform: translateY(-5px);
    /*als ik met mijn muis erover heen ga gaat het hoger*/
}

.btn-github:hover {
    background-color: rgb(200, 130, 209);
    box-shadow: 0 4px rgb(158, 47, 185);
    transform: translateY(-5px);
    /*als ik met mijn muis erover heen ga gaat het hoger*/
}

.btn-email:hover {
    background-color: white;
    box-shadow: 0 4px rgb(20, 204, 236);
    transform: translateY(-5px);
}

.btn-phone:hover {
    background-color: rgb(171, 224, 127);
    box-shadow: 0 4px rgb(47, 116, 15);
    transform: translateY(-5px);
    color: black;

}

button:active {
    box-shadow: 0 0px white;
    transform: translateY(5px);
    /*als ik met mijn muis erop klik dan gaat het lager*/
}

.btn-about {
    background-color: black;
    width: 180px;
    height: 80px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px 15px rgb(110, 0, 0);
    border: 3px solid rgb(255, 0, 0);
    font-size: 18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 70px;
}

.btn-github {
    background-color: rgb(158, 47, 185);
    width: 300px;
    height: 170px;
    border-radius: 20px;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 3px rgb(158, 47, 185);

}

.btn-email {
    background-color: rgb(205, 219, 231);
    width: 300px;
    height: 170px;
    border-radius: 20px;
    border: 4px solid rgb(20, 204, 236);
    box-shadow: 0px 0px 10px 3px rgb(20, 204, 236);
    margin-left: 100px;
}

.btn-phone {
    background-color: black;
    color: white;
    width: 300px;
    height: 170px;
    border-radius: 20px;
    border: 4px solid rgb(31, 110, 21);
    box-shadow: 0px 0px 10px 3px rgb(47, 202, 8);
    margin-left: 100px;
}