.nav-bar {
    background-color: black;
    font-size: 20pt;
    font-weight: 700;

}

.text-color-css {
    color: rgb(255, 43, 43) !important;
}

.background {
    background-color: black;
}

.nav-bar {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 5px 3px red;
}

.h1-color {
    color: red;
}

.h1-text {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-about {
    
}

.offcanvas-body {
background-color: black;
border: 1px solid red;
}

.offcanvas{
    background-color: black;
}

.nav-item {
    font-size: 20pt;
    font-weight: bold;
}

.dropdown-menu